### Mostly used Jupyter shortcuts

In [1]:
# to execute a cell -> Shift + Enter
# new cell above current cell -> Esc -> A
# new cell below current cell -> Esc -> B
# to delete a cell -> Esc -> D -> D

### Topics to be covered in Tutorial-1:
1. Variables
2. Data types
3. Arithmetics operators
4. Relational operators
5. Logical Operators
6. If condition

In [2]:
# To print the line
print("Nivetha")

Nivetha

## 1. Variables

In [22]:
a = 5
b = 6
print(a+b)

11

In [23]:
"""
a & b - are variables

Variable - used to store value/data 
LHS - variable
RHS - value / data
"""

'\na & b - are variables\n\nVariable - used to store value/data \nLHS - variable\nRHS - value / data\n'

In [24]:
"""
Basic Data type in python:
1. Integer - decimal value -> 10, 20 1, 100
2. Float - 1.2, 5.6
3. Boolean - True or False
4. String - sequence of character -> 'a', 'b'
"""

"\nBasic Data type in python:\n1. Integer - decimal value -> 10, 20 1, 100\n2. Float - 1.2, 5.6\n3. Boolean - True or False\n4. String - sequence of character -> 'a', 'b'\n"

## 2. Data types

### Integer

In [9]:
a = 5

In [10]:
b = 100

In [11]:
type(b)

int

In [12]:
print(8)

8

### Float

In [13]:
m = 4.5

In [14]:
type(m)

float

### Boolean

In [15]:
flag = True
print(flag)

True

In [16]:
n = False
print(n)

False

In [17]:
type(n)

bool

### String

In [18]:
c = "a"

In [19]:
type(c)

str

In [20]:
name = 'n'
type(name)

str

In [22]:
print(name)

n

In [23]:
name = "Nivetha Aruchamy"

In [24]:
print(name)

Nivetha Aruchamy

In [25]:
print("Nivetha Sriram")

Nivetha Sriram

### String operations

In [32]:
name = "Nivetha"

In [28]:
# len -> to get length of the string
# len(string)
len(name)

7

In [33]:
name = "Sriram"

In [30]:
print(name)

Sriram

In [39]:
country = "India"
print("First country =",country)
print("First country =",country)
country = "US"
print("Second country - ",country)

First country = India
First country = India
Second country -  US

In [40]:
country = "India"
print("First country =",country)
print("First country =",country)
country = "US"
country = "UK"
print("Second country - ",country)

First country = India
First country = India
Second country -  UK

In [41]:
country = "India"
print("First country =",country)
print("First country =",country)
country = "US"
print("Second country - ",country)
country = "UK"
print("Second country - ",country)

First country = India
First country = India
Second country -  US
Second country -  UK

In [42]:
# concatenation -> joining 2 string 
# symbol -> +

In [43]:
print("Sriram" + " " + "Appusamy")

Sriram Appusamy

In [47]:
name = "Nivetha"
print(name, len(name))
name = name + " "
print(name, len(name))
name = name + "Aruchamy"
print(name, len(name))

Nivetha 7
Nivetha  8
Nivetha Aruchamy 16

In [3]:
a = 100
b = 200
print (a+b)

300

In [4]:
a=1.5
b=7.5
print (a+b)

9.0

In [5]:
a=3.5
type(a)

float

In [48]:
name= "nivetha"
name= 5

In [49]:
print(type(name))

<class 'int'>

In [50]:
first_name="Nivetha"
last_name="Aruchamy"
middle_name="Baby"
#Nivetha BabyAruchamy

In [55]:
name = first_name + " " + middle_name + last_name

In [56]:
print(name)

Nivetha BabyAruchamy

## 3. Arthimatic Operators

1. Addition - +
2. Subtract - -
3. Multiply - *
4. Division - /
5. Integer Division - //
6. Modulo - to get remainder of the division - %

In [57]:
a = 10
b = 20
c = a+b
print(c)

30

In [58]:
n1 = 20
n2 = 10
print(n1-n2)
print(n2-n1)

10
-10

In [63]:
#Subtraction
a = 10
b = 30
c = (a-b)
print (c)

-20

In [65]:
#Multiplication
a = 10
b = 30
c = (a*b)
print(c)

300

In [70]:
#Division
a = 7
b = 3
c = (a/b)
print(c)

2.3333333333333335

In [69]:
#Interger Division
a = 7
b = 3
c = (a//b)
print(c)

2

In [71]:
#Modulo
a = 7
b = 3
c = (a%b)
print(c)

1

## 4. Relational Operators

1. Equal to - ==
2. Greater than - >
3. Greater than equal to - >=
4. Less than - <
5. Less than equal to - <=
6. Not equal to - !=

Return result as Boolean value. If condition is correct - True, other wise False

In [78]:
2==2

True

In [79]:
2==3

False

In [80]:
"sriram" == "sriram"

True

In [81]:
"Sri" == "sri"

False

In [82]:
3>4

False

In [83]:
5<1

False

In [84]:
1>=1

True

In [85]:
"Sri"!="sri"

True

## 5. Logical Operations

In [75]:
# AND -> all should be True to return as True
# OR -> atleast one of the expression should be True to return as True

In [73]:
a=True
b=True
a and b

True

In [74]:
a=True
b=False
print(a and b)
print(a or b)

False
True

## 6. If condition

In [ ]:
# Block of code

In [ ]:
# Syntax:
# if (condition):
#     True block
# else:
#     Else block

In [86]:
a = 2
b = 1
if (a > b):
    print("a is greater than b")

a is greater than b

In [87]:
a = 1
b = 2
if (a > b):
    print("a is greater than b")

In [88]:
a = 1
b = 2
if (a > b):
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [89]:
a = 0
b = 0
if a!=0:
    print("a is not 0")
elif b!=0:
    print("b is not 0")
else:
    print("a and b are 0")

a and b are 0

In [90]:
a = 2
b = 0
if a!=0:
    print("a is not 0")
elif b!=0:
    print("b is not 0")
else:
    print("a and b are 0")

a is not 0

If a given number is divisible by 3 or not.

Example: 3,27, 9, 81 -> divisible by 3
2, 8,17 -> Not divisible by 3

Hints: Use one of the arithmetic operator with relational , if - else condition

In [96]:
num = 14
div = 3

a=14
b=3

if a%b:
    print("It gives the remainder")
elif a//b:
    print("Its not divisible by 3")

It gives the remainder

In [109]:
a=82
b=3

if a%b:
    print("It is not divisible by 3")
else:
    print("Its divisible by 3")

It is not divisible by 3

In [111]:
a=81
b=3

if (a%b == 0):
    print("It is divisible by 3")
else:
    print("It is not divisible by 3")

It is divisible by 3